.text-panel {
    flex: 1 1 0;
    width: 0;
    border: 2px solid #29CCC1;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

.text-panel-title,
.text-panel h1 {
    font-family: 'Persona 3', sans-serif;
    color: #29CCC1;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.text-panel h2 {
    font-family: 'Persona 3', sans-serif;
    color: #CC2934;
    font-size: 16px;
    text-align: left;
}

.text-panel p {
    color: #29CCC1;
    font-size: 14px;
    text-align: left;
}

.subheader{
    color: #D3D3D3;
}

.divider {
    font-family: 'Persona 3', sans-serif;
    color: #FBF894;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topic1{
    color: #ff0038;
}

.topic2{
    color: #ff4800;
}

.topic3{
    color: #ffc800;
}
.topic4{
    color: #b7ff00;
}

.topic5{
    color: #37FF00;
}

.topic6{
    color: #00FF49;
}